@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: auto;
}
.d-flex{
    display: flex;
}
section{
    margin: 50px 0;
}
.orange-color{
    color: orange;
}
.common-link{
    background: linear-gradient(to right,#FBA24F, #FF1E1E);
    color: #fff;
    text-transform: capitalize;
    padding: 18px 32px;
    border-radius: 75px;
}
.section-title h2{
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    color: #707070;
}
/* header area css start */
/* header left part css start */
.header-left,
.header-right,
.about-left,
.about-right{
    width: 50%;
}
.header-left h1{
    font-size: 50px;
    font-weight: 700;
}
.first-top-heading{
    padding-top: 100px;
}
.header-left p{
    color: #828282;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 20px;
}
/* header right part css start */
.header-right img{
    width: 100%;
}

/* about area css start */
.about-left img{
    width: 50%;
    padding-left: 20%;
    padding-top: 15%;
}
.about-bg{
    background: url(../images/shapes/about-me-cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about-right h2{
    margin-top: 30%;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: #707070;
}
.about-right p{
    line-height: 32px;
    padding-bottom: 40px;
}

/* recipe area css start */
.about-me-section p{
    width: 600px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}
.recipes-container{
    justify-content: space-between;
}
.recipe-item{
    width: 32%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    padding: 25px;
    border-radius: 20px;
    box-sizing: border-box;
}
.recipe-item h4{
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 800;
    color: #18191F;
}
.recipe-item img{
    width: 100%;
}

/* food lover area css start */
.food-lovers-area{
    padding: 15px 0;
}
.food-lover-title h2{
    padding-bottom: 10px;
}
.food-lovers-container{
    justify-content: space-between;
    padding: 0 4%;
}
.food-lovers-male,
.food-lovers-female{
    width: 32%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}
.food-lovers-male{
    margin-bottom: 20px;
}
.food-lovers-male img,
.food-lovers-female img{
    width: 100%;
}

/* feedback area css start */
.feedback-area{
    background: url(../images/food/mixed-salad.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}
.feedback-title h2{
    color: #fff;
    font-size: 50px;
}
.feedback-form{
    width: 50%;
    margin: auto;
}
.form-group{
    margin-bottom: 10px;
}
.form-group label{
    color: #fff;
    font-weight: 700;
}
.form-group label,
.form-group input{
    display: block;
    margin-bottom: 10px;
}
.form-group input,
.form-group textarea{
    width: 100%;
    padding: 7px 3px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
}
.form-group button{
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    width: 100%;
}
